@page
@model Portfolio.Pages.Posts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <h1>Create</h1>

    <h4>Post</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Post.Title" class="control-label"></label>
                    <input asp-for="Post.Title" class="form-control" />
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Post.Content" class="control-label"></label>
                    <input asp-for="Post.Content" class="form-control" />
                    <span asp-validation-for="Post.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Post.PublishedDate" class="control-label"></label>
                    <input asp-for="Post.PublishedDate" class="form-control" />
                    <span asp-validation-for="Post.PublishedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

            <div class="test">
                @{
                    var inCSharp = true;
                    <p>Now in HTML, was in C# @inCSharp</p>
                }
            </div>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
